<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/pandas/2024_04_16_pandas_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More on Selecting Data

* .loc()
* .iloc()

* selecting rows based on column values

* select columns based on row values

* select by boolean condition

* counting and group by

# pandas_indexing_and_selecting


https://www.kaggle.com/datasets/saurabhbadole/latest-data-science-job-salaries-2024

* work_year: The year of the data related to the job salary.
* experience_level: The level of experience of the employee (e.g., entry-level, mid-level, senior-level).
employment_type: The type of employment (e.g., full-time, part-time, contract).
* job_title: The title or role of the employee within the data science field.
* salary: The salary of the employee.
* salary_currency: The currency in which the salary is denoted.
* salary_in_usd: The salary converted to US dollars for standardization.
* employee_residence: The residence location of the employee.
* remote_ratio: The ratio of remote work allowed for the position.
* company_location: The location of the company.
* company_size: The size of the company based on employee count or revenue.

In [235]:
import pandas as pd

file="https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/pandas/DataScience_salaries_2024.csv"
df = pd.read_csv(file)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L
1,2021,MI,FT,BI Data Analyst,11000000,HUF,36259,HU,50,US,L
2,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
3,2021,MI,FT,ML Engineer,8500000,JPY,77364,JP,50,JP,S
4,2022,SE,FT,Lead Machine Learning Engineer,7500000,INR,95386,IN,50,IN,L
...,...,...,...,...,...,...,...,...,...,...,...
14833,2022,MI,FT,Business Intelligence Developer,15000,USD,15000,GH,100,GH,M
14834,2020,EX,FT,Staff Data Analyst,15000,USD,15000,NG,0,CA,M
14835,2021,EN,FT,Machine Learning Developer,15000,USD,15000,TH,100,TH,L
14836,2022,EN,FT,Data Analyst,15000,USD,15000,ID,0,ID,L
14837,2020,EN,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S

In [236]:
# you can put [selection, columns]

# .loc look up by labels
# .iloc is look up positions

#df.loc[ some logical statement, columns]



fr = df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023), ['salary', 'job_title']]

fr

       salary                                 job_title
1895   225000                 Machine Learning Engineer
1901   225000                         Research Engineer
3169   199000                 Machine Learning Engineer
5181   168000                         Research Engineer
6612   150000                              AI Developer
9655   120000                             AI Programmer
10518  110000                             Data Engineer
11407  100000  Machine Learning Infrastructure Engineer
12125   90000                             Data Engineer
13047   75000                             Data Engineer
13418   70000               Machine Learning Specialist
13456   70000  Machine Learning Infrastructure Engineer
13663   65000                             Data Engineer
13862   60000                             Data Engineer
13885   60000                            Data Scientist
14130   53000                             Data Engineer
14253   50000                      Data DevOps Engineer
14322   48000                             Data Engineer
14546   40000               Machine Learning Specialist
14554   40000                            Data Scientist
14726   30000                         Research Engineer

In [237]:
df[(df.company_location.isin(['US', 'FR'])) & (df.work_year == 2023)].groupby(['company_location','experience_level','job_title']).mean(numeric_only=True)

                                                               work_year  \
company_location experience_level job_title
FR               EN               Research Engineer               2023.0
                 MI               Data Engineer                   2023.0
                                  Data Scientist                  2023.0
                                  Machine Learning Specialist     2023.0
                 SE               AI Developer                    2023.0
...                                                                  ...
US               SE               Prompt Engineer                 2023.0
                                  Research Analyst                2023.0
                                  Research Engineer               2023.0
                                  Research Scientist              2023.0
                                  Software Data Engineer          2023.0

                                                                      salary  \
company_location experience_level job_title
FR               EN               Research Engineer             30000.000000
                 MI               Data Engineer                 71571.428571
                                  Data Scientist                50000.000000
                                  Machine Learning Specialist   55000.000000
                 SE               AI Developer                 150000.000000
...                                                                      ...
US               SE               Prompt Engineer              166500.000000
                                  Research Analyst             132669.350000
                                  Research Engineer            194935.145455
                                  Research Scientist           194981.989691
                                  Software Data Engineer       210000.000000

                                                               salary_in_usd  \
company_location experience_level job_title
FR               EN               Research Engineer             32390.000000
                 MI               Data Engineer                 74997.571429
                                  Data Scientist                52390.500000
                                  Machine Learning Specialist   55000.000000
                 SE               AI Developer                 161952.000000
...                                                                      ...
US               SE               Prompt Engineer              166500.000000
                                  Research Analyst             132669.350000
                                  Research Engineer            194935.145455
                                  Research Scientist           194981.989691
                                  Software Data Engineer       210000.000000

                                                               remote_ratio
company_location experience_level job_title
FR               EN               Research Engineer                0.000000
                 MI               Data Engineer                   92.857143
                                  Data Scientist                  50.000000
                                  Machine Learning Specialist    100.000000
                 SE               AI Developer                    50.000000
...                                                                     ...
US               SE               Prompt Engineer                  0.000000
                                  Research Analyst                10.000000
                                  Research Engineer               10.909091
                                  Research Scientist               9.278351
                                  Software Data Engineer         100.000000

[184 rows x 4 columns]

In [238]:
df[df['experience_level'] == 'EN'].groupby('employee_residence')['salary'].describe()

,count,mean,std,min,25%,50%,75%,max
employee_residence,,,,,,,,
AR,3.0,4.666667e+04,1.527525e+04,30000.0,40000.0,50000.0,55000.0,60000.0
AT,1.0,5.000000e+04,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
AU,10.0,8.025530e+04,3.799970e+04,34160.0,44000.0,90000.0,92000.0,150000.0
BA,1.0,1.200000e+05,NaN,120000.0,120000.0,120000.0,120000.0,120000.0
BE,3.0,5.983333e+04,1.746663e+04,49500.0,49750.0,50000.0,65000.0,80000.0
BR,3.0,5.713333e+04,3.866075e+04,30000.0,35000.0,40000.0,70700.0,101400.0
CA,32.0,9.648306e+04,3.462341e+04,52000.0,69250.0,93937.5,105300.0,200000.0
CH,3.0,8.700000e+04,2.981610e+04,54000.0,74500.0,95000.0,103500.0,112000.0
CL,1.0,1.050000e+05,NaN,105000.0,105000.0,105000.0,105000.0,105000.0
CN,1.0,1.254040e+05,NaN,125404.0,125404.0,125404.0,125404.0,125404.0
CO,1.0,2.184400e+04,NaN,21844.0,21844.0,21844.0,21844.0,21844.0
CR,1.0,2.000000e+04,NaN,20000.0,20000.0,20000.0,20000.0,20000.0
DE,22.0,5.887273e+04,3.771086e+04,14000.0,42300.0,55000.0,65000.0,200000.0
DK,3.0,2.000000e+05,9.165151e+04,120000.0,150000.0,180000.0,240000.0,300000.0
DO,1.0,1.100000e+05,NaN,110000.0,110000.0,110000.0,110000.0,110000.0
DZ,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
EC,1.0,1.600000e+04,NaN,16000.0,16000.0,16000.0,16000.0,16000.0
EE,2.0,3.600000e+04,0.000000e+00,36000.0,36000.0,36000.0,36000.0,36000.0
ES,9.0,2.822222e+04,6.942222e+03,20000.0,24000.0,26000.0,30000.0,40000.0
FR,13.0,4.219615e+04,1.443290e+04,20000.0,31000.0,42000.0,50000.0,75000.0
GB,82.0,4.607237e+04,2.626615e+04,23000.0,30000.0,38250.0,55000.0,160800.0
GR,2.0,2.150000e+04,4.949747e+03,18000.0,19750.0,21500.0,23250.0,25000.0
HR,1.0,3.500000e+04,NaN,35000.0,35000.0,35000.0,35000.0,35000.0
HU,2.0,3.321500e+06,4.636499e+06,43000.0,1682250.0,3321500.0,4960750.0,6600000.0
ID,1.0,1.500000e+04,NaN,15000.0,15000.0,15000.0,15000.0,15000.0
IN,21.0,1.347181e+06,1.352086e+06,18000.0,50000.0,1400000.0,2000000.0,4950806.0
IQ,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
IR,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
IT,6.0,2.925000e+04,7.627254e+03,19000.0,24125.0,30250.0,33000.0,40000.0
JE,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
JP,3.0,3.330000e+06,2.897188e+06,40000.0,2245000.0,4450000.0,4975000.0,5500000.0
KE,1.0,5.000000e+04,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
KR,1.0,4.000000e+04,NaN,40000.0,40000.0,40000.0,40000.0,40000.0
KW,1.0,5.000000e+04,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
LB,2.0,7.175000e+04,1.873833e+04,58500.0,65125.0,71750.0,78375.0,85000.0
LT,6.0,4.016150e+04,9.062916e+03,28069.0,35100.0,39850.0,44225.0,54000.0
LU,1.0,5.000000e+04,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
MT,2.0,6.145000e+04,2.453661e+04,44100.0,52775.0,61450.0,70125.0,78800.0
MU,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
MX,4.0,2.237745e+05,3.682274e+05,17598.0,17599.5,51750.0,257925.0,774000.0
NG,3.0,2.933333e+04,1.101514e+04,18000.0,24000.0,30000.0,35000.0,40000.0
NL,9.0,5.208889e+04,1.753646e+04,30000.0,42000.0,50490.0,57000.0,85000.0
PK,5.0,4.016000e+04,1.252709e+04,20000.0,40000.0,40000.0,48000.0,52800.0
PL,1.0,7.800000e+04,NaN,78000.0,78000.0,78000.0,78000.0,78000.0
PT,6.0,2.251667e+04,3.888659e+03,20000.0,20000.0,21000.0,22825.0,30000.0
RO,1.0,2.600000e+04,NaN,26000.0,26000.0,26000.0,26000.0,26000.0
RU,1.0,1.566200e+04,NaN,15662.0,15662.0,15662.0,15662.0,15662.0
SE,2.0,1.050000e+05,3.535534e+04,80000.0,92500.0,105000.0,117500.0,130000.0
SG,1.0,9.000000e+04,NaN,90000.0,90000.0,90000.0,90000.0,90000.0
TH,1.0,1.500000e+04,NaN,15000.0,15000.0,15000.0,15000.0,15000.0
TN,1.0,2.900000e+04,NaN,29000.0,29000.0,29000.0,29000.0,29000.0
TR,3.0,6.566667e+04,7.311863e+04,20000.0,23500.0,27000.0,88500.0,150000.0
UA,2.0,3.750000e+04,1.767767e+04,25000.0,31250.0,37500.0,43750.0,50000.0
UG,1.0,3.600000e+04,NaN,36000.0,36000.0,36000.0,36000.0,36000.0
US,855.0,1.031016e+05,4.656321e+04,24000.0,70000.0,91000.0,130000.0,350000.0
UZ,2.0,7.000000e+04,4.242641e+04,40000.0,55000.0,70000.0,85000.0,100000.0
ZA,2.0,3.218900e+04,1.121471e+03,31396.0,31792.5,32189.0,32585.5,32982.0