<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/pandas/pandas_drop_outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to Drop Outliers in Pandas Data

Numerical data that is too many standard deviations away from the mean could be considered an outlier.  Here we show do to delete that.


Here we use the **Z-Score Method**.

The z-score is:


$$z = \frac{x - \mu}{\sigma}$$



**1. Interquartile Range (IQR) Method**:
- Calculate the IQR, which is the difference between the third quartile (Q3) and the first quartile (Q1).
- Define outliers as data points that are below Q1 - 1.5 × IQR or above Q3 + 1.5 × IQR.
- This method is robust to outliers and is commonly used for skewed distributions.

**2. Z-Score Method**:
- Calculate the z-score for each data point, which represents how many standard deviations the data point is away from the mean.
- Define outliers as data points with z-scores beyond a certain threshold, such as |z| > 3 or |z| > 2 depending on the desired level of stringency.
- This method is more sensitive to outliers and assumes a normal distribution of the data.

In [ ]:
import numpy as np
import pandas as pd

import random

def makedata():
  mean=10000
  std=25

  # this code creates random data.  It adds invalid and missing values to give us data to work with.

  cols = [("name", str), ("education", str),
     ("age", np.int8), ("city",str), ("id", np.int8), ("email", str), ("salary", np.int8),
        ("citizen", ["Y", "N"])]

  words = [np.NaN, "", "abc", "def", "ghi", "jkl", "mno", "pqr"]

  records = []

  for i in range(20):

    data = {}

    for c in cols:

      if c[1] == np.int8:
        if random.randint(0,5)==5:
            data[c[0]] = np.NaN
        else:
            data[c[0]] = abs(int(random.gauss(mean, std)))

      if c[0] == "citizen":
        if random.randint(0,5)==5:
            data[c[0]] = random.randint(0,10)
        else:
            data[c[0]] =c[1][random.randint(0,1)]

      if c[1] == str and c[0] != "citizen":
        data[c[0]] = words[random.randint(0,len(words)-1)]

      if (c[0] == "salary") & (random.randint(0,5)==0):
            data[c[0]] = 1000000

      if (c[0] == "age"):
          data[c[0]] = random.randint(20,25)

    records.append(data)

  df=pd.DataFrame(records)

  return df

df = makedata()
df

   name education  age city       id email     salary citizen
0   abc       NaN   24  pqr   9978.0   abc     9957.0       Y
1   jkl       pqr   23  jkl  10041.0   ghi  1000000.0       N
2   abc       ghi   21  pqr  10021.0           9982.0       N
3             NaN   23  def   9969.0   ghi    10011.0       Y
4             mno   20  pqr      NaN   mno        NaN       N
5   jkl       ghi   20  ghi      NaN   abc     9997.0       Y
6   abc       ghi   20  mno   9997.0   mno    10075.0       N
7   def       pqr   22  jkl  10021.0   ghi  1000000.0       Y
8   abc             21  NaN   9988.0   ghi        NaN       9
9   def       ghi   23  pqr  10019.0   mno     9974.0       2
10  jkl       NaN   23  mno   9947.0           9978.0       Y
11            NaN   24  ghi  10027.0   NaN     9992.0       N
12  mno       NaN   22  jkl   9976.0   jkl     9984.0       Y
13  jkl       abc   24  ghi  10007.0   jkl     9994.0       N
14  ghi       jkl   24  jkl  10015.0        1000000.0       Y
15            pqr   21       10053.0   jkl    10028.0       Y
16            NaN   23  abc      NaN   jkl    10014.0       N
17  NaN       jkl   24  jkl  10006.0   NaN    10011.0       6
18            NaN   23       10003.0   NaN     9988.0       N
19  mno       jkl   24  def  10004.0   ghi     9987.0       3

In [ ]:
df['salary']

0        9957.0
1     1000000.0
2        9982.0
3       10011.0
4           NaN
5        9997.0
6       10075.0
7     1000000.0
8           NaN
9        9974.0
10       9978.0
11       9992.0
12       9984.0
13       9994.0
14    1000000.0
15      10028.0
16      10014.0
17      10011.0
18       9988.0
19       9987.0
Name: salary, dtype: float64

In [ ]:
df['salary'].mean()

174998.44444444444

In [ ]:
df['salary']

0        9957.0
1     1000000.0
2        9982.0
3       10011.0
4           NaN
5        9997.0
6       10075.0
7     1000000.0
8           NaN
9        9974.0
10       9978.0
11       9992.0
12       9984.0
13       9994.0
14    1000000.0
15      10028.0
16      10014.0
17      10011.0
18       9988.0
19       9987.0
Name: salary, dtype: float64

In [ ]:
# drop outliers, too many standard deviations away
# if the income - mean > 2 std the replace then drop the row
# remeber to use inplace=True


mean = df['salary'].mean()
std = df['salary'].std()

# Define threshold for outliers (e.g., values more than 2 standard deviations away from the mean)
threshold = 2

# calculate
# find with .loc
# drop
# inplace=True


df.drop(df.loc[abs(df['salary'] - mean) > 2 * std].index, inplace=True)

df

   name education  age city       id email   salary citizen
0   abc       NaN   24  pqr   9978.0   abc   9957.0       Y
2   abc       ghi   21  pqr  10021.0         9982.0       N
3             NaN   23  def   9969.0   ghi  10011.0       Y
4             mno   20  pqr      NaN   mno      NaN       N
5   jkl       ghi   20  ghi      NaN   abc   9997.0       Y
6   abc       ghi   20  mno   9997.0   mno  10075.0       N
8   abc             21  NaN   9988.0   ghi      NaN
9   def       ghi   23  pqr  10019.0   mno   9974.0
10  jkl       NaN   23  mno   9947.0         9978.0       Y
11            NaN   24  ghi  10027.0   NaN   9992.0       N
12  mno       NaN   22  jkl   9976.0   jkl   9984.0       Y
13  jkl       abc   24  ghi  10007.0   jkl   9994.0       N
15            pqr   21       10053.0   jkl  10028.0       Y
16            NaN   23  abc      NaN   jkl  10014.0       N
17  NaN       jkl   24  jkl  10006.0   NaN  10011.0
18            NaN   23       10003.0   NaN   9988.0       N
19  mno       jkl   24  def  10004.0   ghi   9987.0

In [ ]:
abs(1000000 - mean) > 2 * std

True

In [ ]:
mean

174998.44444444444

In [ ]:
std

379648.3861505696

In [ ]:
sMean=df['salary'].mean()

df['salary'] = df['salary'].fillna(sMean)

df

   name education  age city       id email        salary citizen
0   abc       NaN   24  pqr   9978.0   abc   9957.000000       Y
2   abc       ghi   21  pqr  10021.0         9982.000000       N
3             NaN   23  def   9969.0   ghi  10011.000000       Y
4             mno   20  pqr      NaN   mno   9998.133333       N
5   jkl       ghi   20  ghi      NaN   abc   9997.000000       Y
6   abc       ghi   20  mno   9997.0   mno  10075.000000       N
8   abc             21  NaN   9988.0   ghi   9998.133333
9   def       ghi   23  pqr  10019.0   mno   9974.000000
10  jkl       NaN   23  mno   9947.0         9978.000000       Y
11            NaN   24  ghi  10027.0   NaN   9992.000000       N
12  mno       NaN   22  jkl   9976.0   jkl   9984.000000       Y
13  jkl       abc   24  ghi  10007.0   jkl   9994.000000       N
15            pqr   21       10053.0   jkl  10028.000000       Y
16            NaN   23  abc      NaN   jkl  10014.000000       N
17  NaN       jkl   24  jkl  10006.0   NaN  10011.000000
18            NaN   23       10003.0   NaN   9988.000000       N
19  mno       jkl   24  def  10004.0   ghi   9987.000000